.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.icon {
  font-size: 30px;
  height: 75px;
  margin: 10px;
  '&:hover': {
    color: red;
  }
}

.container {
  max-width: 700px;
  margin: 25px auto;
}

.row {
  padding: 15px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.field {
  width: 300px;
  padding: 10px 20px;
}

.timezone {
  width: 300px;
  padding: 5px 20px;
}

.datetime {
  width: 300px;
  padding: 5px 20px;
}

.remove {

}
